<div class="background">
    <label style="font-weight: bold;color: white;font-size: larger;">Radius:</label><br>
    <input type="number" style="height:30px;margin-bottom: 5px;cursor: pointer;margin-bottom: 30px;" [(ngModel)]="num"><br>
  

    <button class="button" (click)="Area()">Area</button><br><br>
    <button class="button" (click)="Perimeter()">Peri-meter</button><br><br>
    <label style="font-weight: bold;color: aliceblue; font-size:25px ;">Arae:{{areas}},Perimeter:{{perimeters}}</label>
</div>
area