<form [formGroup]="userForm">
  <label for="">Name:</label>
  <input type="text" formControlName="name"><br>

 
  <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
    <p *ngIf="userForm.get('name')?.errors?.['required']">Name Is Required</p>
    <p *ngIf="userForm.get('name')?.errors?.['minlength']">Name Should be mininum 6 Characters</p>
    <p *ngIf="userForm.get('name')?.errors?.['maxlength']">Name Should be maximum 6 Characters</p>
  </div>
  <label for="">Email:</label>
  <input type="text"  formControlName="email"><br>
  <label for="">Password:</label>
  <input type="password"  formControlName="password"><br>
  <label for="">Mobile:</label>
  <input type="number"  formControlName="mobile"><br>

  <div formGroupName="address">
    <label for="">City:</label>
    <input type="text"  formControlName="city"><br>
    <label for="">State:</label>
    <input type="text"  formControlName="state"><br>
    <label for="">Pincode:</label>
    <input type="number"  formControlName="pincode"><br>
  </div>


  <label>Type:</label>
  <input type="radio" name="type" formControlName="type" value="dayScholar">
  <label for="">Day Scholar</label><br>
  <input type="radio" name="type" formControlName="type" value="residential">
  <label for="">Residential</label><br>

  <div *ngIf="userForm.get('type')?.value=='dayScholar'">
    <label>Bus Fee:</label>
    <input type="number" formControlName="busFee"><br>
  </div>

  <div *ngIf="userForm.get('type')?.value=='residential'">
    <label>Bus Fee:</label>
    <input type="number" formControlName="hostelFee"><br>
  </div>
  

   <label>Cards:</label>
   <button (click)="addcard()" class="btn btn-warning">Add card</button><br><br>

   <div formArrayName="cards">
    <div *ngFor="let card of cardsFromArray.controls;let i=index">
      <div formGroupName="{{i}}">
        <h2>card{{i+1}}</h2>
        <label for="">Number:</label>
        <input type="number" formControlName="number"><br>
        <label for="">Expiry:</label>
        <input type="month" formControlName="expiry"><br>
        <label for="">CVV:</label>
        <input type="number" formControlName="cvv"><br>

        <button (click)="deletecard(i)" class="btn btn-danger">remove Card</button>

      </div>
    </div>
   </div>

  <button (click)="submit()">Submit</button>
</form>
