.background{
    background-color: rgb(118, 191, 194);
    height:300px;
    width:300px;
    margin-left: 350px;
    margin-top: 60px;
    padding:50px;
    text-align: center;
    border-radius: 10px;
}

.button{
    height:30px;
    width:150px;
    background-color: rgb(68, 59, 59);
    color: aliceblue;
    padding:5px;
    border-radius: 5px;
    
}