<div class="card_1" >
    <h2 style="text-align: center;color:rgb(14, 95, 161);margin-left: 3px;padding:1px;">Flipkart</h2>
    <input type="text" placeholder="Search" style="margin-left: 3px;padding:4px;cursor: pointer;">
    <button style="margin-left: 20px; background-color: cornflowerblue;color: white;border:none;padding:5px;">Only Free Delivery</button>
    
    <label style="margin-left: 350px;color:black;font-weight: bold;">Name:</label>
    <input type="text" placeholder="">
    <br><br>
    
    <button style="background-color: gold;border: none;padding: 5px;margin-left: 3px;">Price Low to High</button>
    <button style="margin-left: 10px;background-color: gold;border:none;padding: 5px;">Price High to Low</button>
    <button style="margin-left: 10px;background-color: gold;border: none;padding: 5px;">Rating Low to High</button>
    <button style="margin-left: 10px;background-color: gold;border: none;padding: 5px;">Rating High to Low</button>
    
    <label style="margin-left: 167px;color:black;font-weight: bold;">Price:</label>
    <input type="text" placeholder="">
    
    <br><br>
    <button style="margin-left: 3px;background-color: rgb(159, 94, 119);color: aliceblue;padding:5px;border:none;">Apply 50% Discount</button>
    <button style="margin-left: 10px;background-color: rgb(159, 94, 119);color: aliceblue;padding:5px;border: none;">Price With Delivery Charges</button>
    
    <label style="margin-left: 346px;color:black;font-weight: bold;">Rating:</label>
    <input type="text" placeholder="">
    
    <br><br>
    <button style="margin-left: 3px;background-color: black;border: none;padding: 5px;color: white;">Total Price</button>
    <button style="margin-left: 10px;background-color: black;border: none;padding: 5px;color: white;">Total Cart Items</button>
    
    <label style="margin-left: 475px;color:black;font-weight: bold;">Free Delivery:</label>
    
        <input type="radio" name="Free Delivery:">
        <label>Yes</label>
        
        <input type="radio" name="Free Delivery:">
        <label>No</label>
    <br>
    <button style="background-color: green;color: azure;margin-left: 664px;padding:5px;border: none;margin-top: 5px;">Add to Cart</button> 
    </div>
    
    <div>
        <table border="3">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                    <th>Free Delivery</th>
                    <th>Actions</th>
                </tr>
            </thead>
    
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>