
<div class="parent">
    <div class="left">
      <h1>Dashboard</h1>
      <hr style="width:200px;background-color: rgb(131, 129, 129);height:1px;">
      <h3 routerLink="home">Home</h3>
      <h3 routerLink="welcome">Welcome</h3>
      <h3 routerLink="data-binding">
        Data Binding
      </h3>
      <h3 routerLink="directives">Directives</h3>
      <h3 routerLink="employee">Employee</h3>
      <h3 routerLink="calcultor">Calcultor</h3>
      <h3 routerLink="rectangle">Rectangle</h3>
      <h3 routerLink="cricle">Cricle</h3>
      <h3 routerLink="body-mass-weight">BMI</h3>
      <h3 routerLink="cel-fa">Cel-Fa</h3>
      <h3 routerLink="emi">EMI</h3>
      <h3 routerLink="si">SI</h3>
      
      <h3 routerLink="accounts">Accounts</h3>
      <h3 routerLink="vechiles">Vechile</h3>
      <h3 routerLink="flipkart-api">Flipkart-API</h3>
      <h3 routerLink="student-card">Student-ID Cards</h3>
      <h3 routerLink="create-user">Create-User</h3>
      <h3 routerLink="sibling1">Sibling_1</h3>
      <h3 routerLink="parent">Parent</h3>

            
      <hr style="width:200px;background-color: rgb(13, 129, 129);height:1px;">

      <button class="button" routerLink="sigin">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>